.difficulty {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#difficulty p {
    margin-top: 3rem;
}


.simpleMain {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#simpleBackBtn {
    margin-top: 4rem;
}

.regularMain {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#regularBackBtn {
    margin-top: 4rem;
}


h1 {
    font-size: 3rem;
    margin-top: 2rem;
    /* color: #FFA351FF; */
}

p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    /* color: #FFA351FF */
}

input[type="number"] {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 5px;
}

button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: chocolate;
    color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#feedback {
    margin-top: 1.5rem;
    /* color: #FFA351FF; */
}

#winner {
    font-size: 2.5rem;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    background-color: chocolate;
    margin-top: 2rem;
}

#regularWinner {
    font-size: 2.5rem;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: chocolate;
    margin-top: 2rem;
}

.low {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    /* color: orange; */
    font-weight: bold;
}

.high {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    /* color: blue; */
    font-weight: bold;
}

.invalid {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: black;
    border-radius: 10px;
    padding: 15px;
    margin-top: 1.5rem;

}

/* .regularInvalid {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: black;
    border-radius: 10px;
    padding: 15px;
    margin-top: 1.5rem;
} */

#counter {
    /* color: black; */
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

#regularCounter {
    /* color: black; */
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

body {
    background-color: darkkhaki;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: chocolate;
    color: black;
    text-align: center;
    padding-top: 5px;
    font-size: 1.5rem;
}

#footer>small>a>i {
    text-decoration: none;
    color: black;
    padding: 3px;
}

#failed {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 4.5rem;
}

#failed p {
    font-size: 4.5rem;
    color: red;
    margin-top: 5.5rem;
    font-weight: bold;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
}