.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
}

p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

input[type="number"] {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 5px;
}

button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#message {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

body {
    background-color: darkkhaki;
}